@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

p,
span,
b,
i,
button {
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: url(https://img.freepik.com/free-vector/blurred-abstract-background-design_1107-169.jpg?w=826&t=st=1693842049~exp=1693842649~hmac=732e0bd…) no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(30px);
    min-height: 100vh;
}